
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
 background-color: #1fc8db;
 background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  font-family: 'EB Garamond', serif;
}
.header-wrapper .nav-pills{
  background-color: #fff;
}
.header-wrapper .nav-pills .nav-link {
    border-radius: 0;
}
.content-wrapper{
  padding: 30px 0 15px;
}
.custom-from{
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: 0 0 15px;
}
.login-form{
  margin: 0 0 15px;
}
.custom-from h3{
  text-align: center;
  font-size: 25px;
  margin: 0 0 30px;
}
.custom-from .form-group{
  margin: 0 0 30px;
}
.custom-from .form-group .form-control{
  border-radius: 25px;
  padding: 9px 20px;
}
.custom-from .btn:focus,
.custom-from .form-group .form-control:focus{
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.custom-from .btn{
  display: block;
  border-radius: 25px;
  width: 100%;
}
.custom-from .custom-checkbox{
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
